.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Centra las tarjetas horizontalmente
  align-items: center; // Centra las tarjetas verticalmente
  height: 100vh; // Hace que la fila tenga la misma altura que la ventana del navegador
  margin: 0 -15px;
  margin-top: 7%;
}

.col-md-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
  padding: 0 15px;
  margin-bottom: 30px;
}


.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-body {
    padding: 15px;

    .card-title {
      margin-bottom: 10px;
      font-size: 1.25em;
      font-weight: bold;
    }

    .card-text {
      margin-bottom: 10px;
    }

    .text-muted {
      color: #6c757d;
    }
  }
}