

.card {
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    width: 50%;
    border-radius: 0.6em;
    margin: 0 auto;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border: solid;
    border-width: 1px;
    border-radius: 0.6em;
  
    &:hover {
      filter: grayscale(100%);
      z-index: 0;
    }
  }
  
  .card a {
    display: block;
    text-decoration: none;
    color:white;
    background-color: red;
    margin-left: 1%;
    padding: 0.1%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-right: 85%;
    border: solid;
    border-radius: 0.5em;
    transform: scale(1.1);
    transition: transform 0.5s;
    &:hover {
      z-index: 0;
      transform: scale(1.3);
  
    }
  }
  
  